.highlight {
    padding: 15px;
    background-color: #e6e6e6;
    margin-bottom: 30px;
}
.answerItem .form-control {
    min-width: 50%;
}
.answerItem .answer-weight {
    max-width: 5%;
}
#addAnswer {
    margin-top: 30px;
}
.heading-title{
    font-size: 24px;
    color: #1e7e34;
}
.question-title {
    font-size: 16px;
    color: #1d2124;
}
.question-answers {
    font-size: 14px;
}